<!DOCTYPE html>
<html>
	<head>
		<% include headerStuff %>
	</head>
	<body>
		<% include pageHeader %>
		<div class="container">
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8 alert-info">
					<form role="form" method="POST" action="/login">
						<div class="form-group row">
							<h3>Đăng Nhập</h3>
						</div>
						<div class="form-group row">
							<label for="email" class="col-3 col-form-label" >Tên đăng nhập:</label>
							<div class="col-9">
								<input type="text" name="email" id="email">
							</div>
						</div>
						<div class="form-group row">
							<label for="password" class="col-3 col-form-label" >Mật khẩu:</label>
							<div class="col-9">
								<input type="password" name="password">
							</div>
						</div>

						<div class="form-group row">
							<div class="col-2"></div>
							<div class="col-8">
								<div class="input-group col-12" >
									<label for="remember" class="form-check-label col-form-label">
										<input type="checkbox" name="remember" class="form-check-input">
										Ghi nhớ	
									</label>
									&nbsp;&nbsp;&nbsp;
									<button type="submit" class="btn btn-success">Đăng Nhập</button>  
								</div>
							</div>

							<div class="col-2"></div>
						</div>
					</form>	
				</div>
				<div class="col-md-2"></div>
			</div>
		</div>
		<% include pageFooter %>
		<% include footerStuff %>
	</body>
</html>
