<footer class="footer">
	<div class="container">
		<p class="text-center mb-0">
		<span class="text-muted"> &copy; 2017 ngontu.com </span>
		</p>
	</div>
</footer>
<!--
<footer class="footer">
<div class="container alert-info py-3">
	<p class="mx-auto my-3" style="width:200px;">&copy; 2017 ngontu.com<p>
</div>
</footer>
-->
