<!DOCTYPE html>
<html>
	<head>
		<% include ../headerStuff %>
	</head>
	<body>
		<% include ../pageHeader %>

		<div class="container">
			<h2>Test Page</h2>
			<hr role="separator" />

		</div>
		<div class="container">
			<form action="#" class="form-inline">
				<div class="form-group">
					<label for="exampleInputName2">Name</label>
					<input id="exampleInputName2" class="form-control" type="text" placeholder="The Name">
				</div>
				<div class="form-group">
					<label for="exampleInputEmail2">Email</label>
					<input id="exampleInputEmail2" class="form-control" type="text" placeholder="name@email.com">
				</div>
				<div class="form-group">
					<button class="btn btn-secondary float-md-right" type="submit">Submit</button>
				</div>
			</form>
		</div>
		<% include ../pageFooter %>
		<% include ../footerStuff %>
	</body>
</html>
