<!DOCTYPE html>
<html>
	<head>
		<% include ../headerStuff %>
	</head>
	<body>
		<% include ../pageHeader %>

		<div class="container">
			<h2>Test Page</h2>
			<hr role="separator" />

		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-9">Parents Area: 9 Column
					<div class="row">
						<div class="col-sm-6">Child 1: 8 or 6</div>
						<div class="col-sm-6">Child 2: 4 or 6</div>
					</div>
				</div>
			</div>
		</div>
		<% include ../pageFooter %>
		<% include ../footerStuff %>
	</body>
</html>
