<!DOCTYPE html>
<html>
	<head>
		<% include ../headerStuff %>
	</head>
	<body>
		<% include ../pageHeader %>

		<div class="container">
			<h1>Bootstrap 4.0 grid</h1>
			<h5>link: <a href="http://getbootstrap.com/docs/4.0/layout/grid/">http://getbootstrap.com/docs/4.0/layout/grid/</a></h5>
			<h3>Equal width:</h3>
			<div class="row">
				<div class="col">
					1 of 2
				</div>
				<div class="col">
					2 of 2
				</div>
			</div>
			<div class="row">
				<div class="col">
					1 of 3
				</div>
				<div class="col">
					2 of 3
				</div>
				<div class="col">
					3 of 3
				</div>
			</div>
			<div class="row">
				<div class="col">Column</div>
				<div class="col">Column</div>
				<div class="w-100"></div>
				<div class="col">Column</div>
				<div class="col">Column</div>
			</div>
		</div>
		<% include ../pageFooter %>
		<% include ../footerStuff %>
	</body>
</html>
