<!DOCTYPE html>
<html>
	<head>
		<% include ../headerStuff %>
	</head>
	<body>
		<% include ../pageHeader %>

		<div class="container">
			<h2>Test Page</h2>
			<hr role="separator" />

		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-8">sm 12 or md 8</div>
				<div class="col-sm-6 col-md-4">sm 6 or md 4</div>
			</div>
			<div class="row">
				<div class="col-sm-6 col-md-4">sm50% or md33.4%</div>
				<div class="col-sm-6 col-md-4">sm50% or md33.4%</div>
				<div class="col-sm-6 col-md-4">sm50% or md33.4%</div>
			</div>
			<div class="row">
				<div class="col-sm-6">.col-sm-6</div>
				<div class="col-sm-6">.col-sm-6</div>
			</div>
		</div>
		<% include ../pageFooter %>
		<% include ../footerStuff %>
	</body>
</html>
