<!DOCTYPE html>
<html>
	<head>
		<% include ../headerStuff %>
	</head>
	<body>
		<% include ../pageHeader %>

		<div class="container">
			<div class="jumbotron">
				<h1>jumbotron</h1>
				<p class="lead">Content inside jumbotron</p>
				<p class="lead">Content inside jumbotron</p>
				<p class="lead">Content inside jumbotron</p>
			</div>
			<div class="card">
				<div class="card-block">
					<h4 class="card-title">Card title</h4>
					<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<a href="#" class="card-link">Card link</a>
					<a href="#" class="card-link">Another link</a>
				</div>
			</div>
		</div>
		<% include ../pageFooter %>
		<% include ../footerStuff %>
	</body>
</html>
