<!DOCTYPE html>
<html>
	<head>
		<% include ../headerStuff %>
	</head>
	<body>
		<% include ../pageHeader %>

		<div class="container">
			<h1>Bootstrap 4.0 Media Object</h1>
			<h5>link: <a href="http://getbootstrap.com/docs/4.0/layout/media-object/">http://getbootstrap.com/docs/4.0/layout/media-object/</a></h5>
			<h3>Example</h3>
			<div class="media">
				<img class="d-flex mr-3" src="holder.js/64x64?font=Helvetica&bg=434A52&fg=C2F200" alt="Generic placeholder image">
				<div class="media-body">
					<h5 class="mt-0">Media heading</h5>
					Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
				</div>
			</div>
			<h3>Nested Media Object</h3>
			<div class="media">
				<img class="d-flex mr-3" src="holder.js/64x64?font=Helvetica&bg=434A52&fg=C2F200" alt="Generic placeholder image">
				<div class="media-body">
					<h5 class="mt-0">Media heading</h5>
					Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

					<div class="media mt-3">
						<a class="d-flex pr-3" href="#">
							<img src="holder.js/64x64?font=Helvetica&bg=434A52&fg=C2F200" alt="Generic placeholder image">
						</a>
						<div class="media-body">
							<h5 class="mt-0">Media heading</h5>
							Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
						</div>
					</div>
				</div>
			</div>
			<h3>Alignment media object</h3>
			<h4>Top-aligned media</h4>
			<div class="media">
				<img class="d-flex align-self-start mr-3" src="holder.js/64x64?font=Helvetica&bg=434A52&fg=C2F200" alt="Generic placeholder image">
				<div class="media-body">
					<h5 class="mt-0">Top-aligned media</h5>
					<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
					<p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
				</div>
			</div>
			<h4>Center-aligned media</h4>
			<div class="media">
				<img class="d-flex align-self-center mr-3" src="holder.js/64x64?font=Helvetica&bg=434A52&fg=C2F200" alt="Generic placeholder image">
				<div class="media-body">
					<h5 class="mt-0">Center-aligned media</h5>
					<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
					<p class="mb-0">Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
				</div>
			</div>
			<h4>Bottom-aligned media</h4>
			<div class="media">
				<img class="d-flex align-self-end mr-3" src="holder.js/64x64?font=Helvetica&bg=434A52&fg=C2F200" alt="Generic placeholder image">
				<div class="media-body">
					<h5 class="mt-0">Bottom-aligned media</h5>
					<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
					<p class="mb-0">Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
				</div>
			</div>
			<h3>Order media</h3>
			<div class="media">
				<div class="media-body">
					<h5 class="mt-0 mb-1">Media object</h5>
					Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
				</div>
				<img class="d-flex ml-3" src="holder.js/64x64?font=Helvetica&bg=434A52&fg=C2F200" alt="Generic placeholder image">
			</div>
			<h3>Media list</h3>
			<ul class="list-unstyled">
				<li class="media">
					<img class="d-flex mr-3" src="holder.js/64x64?font=Helvetica&bg=434A52&fg=C2F200" alt="Generic placeholder image">
					<div class="media-body">
						<h5 class="mt-0 mb-1">List-based media object</h5>
						Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
					</div>
				</li>
				<li class="media my-4">
					<img class="d-flex mr-3" src="holder.js/64x64?font=Helvetica&bg=434A52&fg=C2F200" alt="Generic placeholder image">
					<div class="media-body">
						<h5 class="mt-0 mb-1">List-based media object</h5>
						Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
					</div>
				</li>
				<li class="media">
					<img class="d-flex mr-3" src="holder.js/64x64?font=Helvetica&bg=434A52&fg=C2F200" alt="Generic placeholder image">
					<div class="media-body">
						<h5 class="mt-0 mb-1">List-based media object</h5>
						Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
					</div>
				</li>
			</ul>
		</div>
		<% include ../pageFooter %>
		<% include ../footerStuff %>
	</body>
</html>
