<!DOCTYPE html>
<html>
	<head>
		<% include ../headerStuff %>
	</head>
	<body>
		<% include ../pageHeader %>

		<div class="container">
			<h2>Test Page</h2>
			<hr role="separator" />

		</div>
		<div class="container">
			<form action="#">
				<div class="row">
					<div class="col-lg-6">
						<div class="input-group">
							<span class="input-group-btn">
								<button class="btn btn-default" type="button">Go!</button>
							</span>
							<input class="form-control" type="text" placeholder="Search for...">
						</div>
					</div>
					<div class="col-lg-6">
						<div class="input-group">
							<input class="form-control" type="text" placeholder="Search for...">
							<span class="input-group-btn">
								<button class="btn btn-default" type="button">Go!</button>
							</span>
						</div>
					</div>
				</div>
			</form>
		</div>
		<% include ../pageFooter %>
		<% include ../footerStuff %>
	</body>
</html>
