<!DOCTYPE html>
<html lang="en">
	<head>
		<% include partial/_headerStuff %>
		<link rel="stylesheet" href="/vendor/stylesheets/pro_theme.css">
	</head>
	<body>
		<p class="hanging-indent">
		<span class="hanging-dropcap" >H</span>anging Dropcap.
		</p>
	</body>
</html>
