<!DOCTYPE html>
<html lang="en">
	<head>
		<% include partial/_headerStuff %>
	</head>
	<body>
		<% include partial/_header %>
		<!-- our code here -->
		<% include partial/_footer %>
		<% include partial/_footerStuff %>
	</body>
</html>
