<!DOCTYPE html>
<html lang="en">
	<head>
		<% include partial/_headerStuff %>
		<link rel="stylesheet" href="/stylesheets/theme.css">
	</head>
	<body>
		<% include partial/_header %>
		<!-- our code here -->
		<div class="container">
			<!-- page title //-->
			<div class="row card">
				<div class="card-header alert-info">
					<h3>
						Bootstrap Modal	
					</h3>
				</div>
				<div class="card-body alert-secondary">
					<!-- Button trigger modal -->
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
						Launch demo modal
					</button>
					<!-- Modal -->
					<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<p>Modal body text goes here.</p>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
									<button type="button" class="btn btn-primary">Save changes</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<% include partial/_footer %>
		<% include partial/_footerStuff %>
	</body>
</html>
