<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1,
shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title><%= pageTitle %></title>
<link rel='stylesheet' href='/vendor/bootstrap/css/bootstrap.min.css' />
<link rel="stylesheet" href="/vendor/stylesheets/pro_style.css">

